@import "fonts";

@mixin clearfix {
    display: block;
    content: "";
	clear: both;
}

@mixin transition($property) {
	-moz-transition: $property 0.25s ease-in-out;
    -o-transition: $property 0.25s ease-in-out;
    -webkit-transition: $property 0.25s ease-in-out;
    transition: $property 0.25s ease-in-out;
}

* {	
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    word-wrap: break-word;

    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background: #fff;
    color: #444;
    font: 15px/1.6 OpenSansRegular, Helvetica, Arial, sans-serif;
}

ol, ul {
    list-style: none;
}

a {
	@include transition(all);
    color: #006ea5;
    text-decoration: none;
}

label, button {
    cursor: pointer;
}

input, select, textarea, button {
    font: inherit;
    margin: 0;
}

strong {
	font-weight: bold;
}

.wrapper {
	margin: 0 auto;
    max-width: 1000px;
}

.row {

	.span4 {
	@media only screen and (max-width: 640px) {
		float: none !important;
    	margin-left: 0;
    	width: 100%;
	}
    width: 32%;
    float: left;
    margin-left: 2%;
}	

	.span8 {
		@media only screen and (max-width: 640px) {
			float: none !important;
    		margin-left: 0;
    		width: 100%;
		}
		width: 66%;
		float: left;
	}
}

.contain, .row {
	&:after {
		@include clearfix;
	}
}

.alt {
	display: block;
    overflow: hidden;
    text-indent: -9999px;
}

.h1 {
	font: 52px/1.1 OpenSansRegular, Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
    font-weight: bold;
}

.push-right {
    float: right !important;
}

.push-left {
    float: left !important;
}

.ico {
    display: inline-block;
    font: 24px/1 IconsRegular;
    // text-transform: none;
    // vertical-align: middle;
}

.form-inline {
	position: relative;

	input {
	    @include transition(all);
		border: 1px solid #ccc;
	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    border-radius: 5px;
	    -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.15);
	    -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.15);
	    box-shadow: inset 0 1px 4px rgba(0,0,0,0.15);
	    height: 38px;
	    padding: 0 40px 0 9px;
	    width: 100%;
	}

	button {
	    background-color: #312626;

	    -moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	    border: none;

	    height: 32px;
	    margin-top: -16px;
	    position: absolute;
	    right: 5px;
	    top: 50%;
	    width: 32px;

	    .ico {
	    	color: #fff;
		    display: block;
		    font-size: 16px;
		    padding-left: 2px;
		    text-align: center;
	    }

		.ico-search {
		    padding-left: 0;
		}
	}
}

.row-parent {
    position: relative;
}

.container {
    overflow: hidden;
    position: relative;
}

.aside {
    padding: 3%;
}

.btn-simple {
	@include transition(none);
    background: #000;
    color: #fff;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    padding: 9px 25px 9px 15px;
    position: relative;
    text-transform: uppercase;
    
}