@font-face {
	font-family: 'WWFRegular';
	src: url('../../public/fonts/WWFRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansRegular';
	src: url('../../public/fonts/Opensans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansRegular';
	src: url('../../public/fonts/Opensans-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSansRegular';
	src: url('../../public/fonts/Opensans-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansRegular';
	src: url('../../public/fonts/Opensans-BoldItalic.ttf');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'IconsRegular';
	src: url('../../public/fonts/icons.ttf');
	font-weight: normal;
	font-style: normal;
}

