@font-face {
    font-family: "Gotham";
    src: url(../assets/fonts/GOTHAMSSM-MEDIUM.OTF);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Gotham";
    src: url(../assets/fonts/GOTHAMSSM-BOLD.OTF);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Gotham";
    src: url(../assets/fonts/GOTHAMSSM-BLACK.OTF);
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "Gotham";
    src: url(../assets/fonts/GOTHAMSSM-XLIGHT.OTF);
    font-style: italic;
    font-weight: 100;
}

$fontfamily: "Gotham";