@font-face {
  font-family: "Gotham";
  src: url(../assets/fonts/GOTHAMSSM-MEDIUM.OTF);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Gotham";
  src: url(../assets/fonts/GOTHAMSSM-BOLD.OTF);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Gotham";
  src: url(../assets/fonts/GOTHAMSSM-BLACK.OTF);
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Gotham";
  src: url(../assets/fonts/GOTHAMSSM-XLIGHT.OTF);
  font-style: italic;
  font-weight: 100;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Gotham";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gotham";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 1514px;
  margin: 0 auto;
}

@media screen and (max-width: 1600px) {
  .container {
    width: 1440px;
  }
}

.custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom + label:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

.custom:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

.custom:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.custom:disabled + label::before {
  background-color: #e9ecef;
}

textarea,
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #000;
  border-radius: 0.3em;
  height: 50px;
  width: 300px;
  margin: 0 20px 0 0;
  font-weight: 100;
  font-style: italic;
  font-size: 33px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  font-size: 50px;
  margin: 105px 0 60px 0;
  line-height: 60px;
}

.header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.header__title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 60px;
}

.header__title {
  height: 120px;
}

.header__logo img {
  height: 110px;
}

.visit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__visit {
  padding-top: 4px;
}

.personal-info {
  border: 2px solid #000;
  border-radius: 0.5em;
  padding: 5px;
}

.personal-info .row {
  border-bottom: 2px dotted #000;
}

.personal-info .borderless {
  border: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 100;
  font-style: italic;
  font-size: 33px;
  line-height: 33px;
}

.row__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 5px;
}

.row__item .column {
  font-size: 25px;
}

.child-info {
  padding: 10px 0;
  background-color: #e8e8e8;
  font-weight: 700;
}

.group {
  position: relative;
  padding: 5px;
}

.group .row {
  font-size: 25px;
}

.group .group-leader {
  height: 30px;
  width: 350px;
  border: none;
  font-size: 25px;
  font-weight: 100;
  border-bottom: 1px dashed #000;
  border-radius: 0%;
  position: absolute;
  right: 0;
  bottom: calc(50% + 10px);
}

.hand-up,
.home-group {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.hand-up .m {
  margin-left: 8px;
}

.hand-up p {
  margin-right: 137px;
}

.hand-up label {
  margin-right: 45px;
}

.home-group p {
  margin-right: 105px;
}

.home-group label {
  margin-right: 105px;
}

.home-group label:nth-of-type(2) {
  margin-right: 95px;
}

@media screen and (max-width: 1600px) {
  .home-group label:nth-of-type(2) {
    margin-right: 30px;
  }
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wishes {
  margin-bottom: 50px;
}

.wishes .custom + label {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wishes .row__item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.wishes .column__item {
  margin-bottom: 15px;
  line-height: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 54px;
          flex: 1 1 54px;
}

.wishes .column__item .column__subtitle {
  font-weight: 100;
  padding-left: 1.5em;
}

.title {
  margin-bottom: 5px;
  font-weight: 700;
}

.needs {
  width: 100%;
  height: 100%;
  resize: none;
}

.column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.column h2 ~ label {
  margin: 10px 0;
}

.column__item {
  margin-bottom: 30px;
}

.jcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jcsb .custom + label {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#another-2 {
  height: 50px;
  width: 300px;
  border: none;
  font-weight: 100;
  border-bottom: 1px dashed #000;
  border-radius: 0%;
}

.complete-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 15px;
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0.3em;
  height: 50px;
  width: 200px;
  font-weight: 100;
  font-style: italic;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-reset:hover {
  background-color: #f00;
  color: #fff;
}

.btn-submit:hover {
  background-color: #0b76ef;
  color: #fff;
}

.spouse-info {
  display: none;
}
/*# sourceMappingURL=style.css.map */